{{ if isset .Site.Params "social" }}
<section id="contact">
<div class="contact">
	<div class="container">
		<div class="row">

			<div class="col-lg-6">
                  {{ if eq .URL "/de/" }}
                    <h2>Sprechen Sie mich an:</h2>
                  {{ else }}
		    <h2>Contact me:</h2>
                  {{ end }}
			</div>

			<div class="col-lg-6">
				<ul class="list-inline contact-social-buttons">
					{{ partial "social.html" . }}
				</ul>
			</div>

		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /.contact -->
</section>
{{ end }}
