<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a class="page-scroll" href="#intro">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; {{ .Site.Title }} All Rights Reserved</p>
            </div>
            <div class="col-md-4" id="impressum">
              <u>Impressum</u><br>
              <small>
                <address>
                  Jorgen Schäfer<br>
                  Eydtkuhnenweg 18a<br>
                  22047 Hamburg<br>
                  <br>
                  E-Mail: <a href="mailto:Jorgen.Schaefer@gmail.com">Jorgen.Schaefer@gmail.com</a><br>
                  Telefon: 01573-876 73 08<br>
                </address>
              </small>
            </div>
        </div>
    </div>
</footer>
{{ partial "js.html" . }}
</body>
</html>
